<header header-directive=""></header>

<main>
    <div class ="page-header">
        <p><h1>Edit Profile</h1></p>
    </div>
    <div id = "detailChangeBox">
        <div padding="0">
           <form  name="profileDetailsForm"  ng-submit="editProfileDetails()" ng-init="getProfileDetails()"
                  profile-controller-directive class = "form-horizontal white col-xs-12"  >
               <div class="form-info col-lg-12 ">

                   <div class="col-lg-2 picture-upload">
                       <div class="form-group profile-image-box" name="profile-image-box">
                           <img class="picture-preview thumbnail" name="profile-image-box" src="{{currentUser.profileImageData}}" >
                       </div>
                       <div class="form-group">
                           <p>Allowed format:.jpg</p>
                           <p>Limit: 128kb</p>
                           <input type="file" accept="image/jpeg"
                                  class="form-control" id="profile-image" name="adImage" ng-model="currentUser.profileImageData"
                                                 onchange="angular.element(this).scope().profileImageSelected(this)">
                       </div>
                   </div>
                   <div class="col-lg-7">
                       <div class="form-group  col-lg-7 ">
                           <label for="new-name" class="col-lg-3 control-label">Name</label>
                           <div class="col-lg-7">
                               <input type="text" ng-model="currentUser.name" class="form-control" id="new-name" placeholder="Name" required>
                           </div>
                       </div>

                       <div class="form-group col-xs-7">
                           <label for="new-email" class="col-lg-3 control-label">Email</label>
                           <div class="col-lg-7">
                               <input type="email" ng-model="currentUser.email" class="form-control" id="new-email" placeholder="Email" required>
                           </div>
                       </div>

                       <div class="form-group col-xs-7">
                           <label class="col-lg-3 control-label">Gender</label>
                           <div class="col-lg-7">
                               <label class="radio-inline"><input ng-model="currentUser.gender"  type="radio" name="gender"  value="male" ng-value="1" required>Male</label>
                               <label class="radio-inline"><input ng-model="currentUser.gender" type="radio" name="gender" value="female"  ng-value="2"  >Female</label>
                               <label class="radio-inline"><input ng-model="currentUser.gender" type="radio" name="gender" value="other" ng-value="0" >Other</label>
                           </div>
                       </div>

                   </div>
                   <div class="col-lg-7  picture-upload">
                       <div class="form-group cover-image-box" name="cover-image-box">
                           <img class="picture-preview thumbnail"   src="{{currentUser.coverImageData}}" >
                       </div>
                       <div class="form-group">
                           <p>Limit: 1024kb</p>
                           <input type="file" accept="image"
                                  class="form-control" id="cover-image" name="adImage" ng-model="currentUser.profileImageData"
                                  onchange="angular.element(this).scope().coverImageSelected(this)">
                       </div>
                   </div>
               </div>

               <div class="form-group col-lg-12">
                   <div class="form-group col-lg-7">
                       <div class="col-lg-10 col-lg-offset-7">
                             <button type="submit" ng-disabled="profileDetailsForm.$invalid || profileDetailsForm.image.$invalid">SaveChanges</button>
                         </div>
                     </div>
                 </div>
            </form>

    </div>

</main>













