<nav class="navbar navbar-inverse  .navbar.navbar-default.navbar-static-top" >
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">User info here</a>

        </div>

        <div>
            <ul class="nav navbar-nav">
                <li >
                    <a href="#/home/"><span class="glyphicon glyphicon-home"></span></a>
                </li>

                <li ng-mouseenter="showRequestFlag=true" ng-mouseleave="showRequestFlag=false">
                    <a href="#/friends/requests/" class="glyphicon glyphicon-user">
                        <span ng-if="pendingRequests.length > 0" class="badge"> {{pendingRequests.length}}</span>
                    </a>
                    <div id="friend-requests-box" ng-if="showRequestFlag && pendingRequests.length > 0" class="list-group">
                        <div ng-repeat="request in pendingRequests" class="list-group-item">
                            <a href="#/user/{{request.user.username}}/wall/">
                                <img ng-src="{{request.user.profileImageData}}" err-src="{{defaultImage}}" alt="picture" style="width: 50px; height: 50px"/>
                                <span>{{request.user.name}}</span>
                            </a>
                            <button ng-click="acceptFriendRequest(request)" class="btn btn-success btn-sm">accept</button>
                            <button ng-click="rejectFriendRequest(request)" class="btn btn-danger btn-sm">reject</button>
                        </div>
                    </div>
                </li>





                <li><a href="#/profile/edit"><span class="glyphicon glyphicon-cog"></span></a></li>
                <li><a href="#/profile/password/"><span class="glyphicon glyphicon-lock"></span></a></li>
                <li  ng-controller="LoginRegisterController" id="logout" ><a ng-click="logout()"><span class="glyphicon glyphicon-log-out"></a></li>
            </ul>
        </div>

    </div>
</nav>





