
        <header class = "authHeader">
            <div class ="container">
             <h1 >Social network</h1>
            </div>
        </header>

    <div class ="authentication">
        <div class ="container">

             <div class="login">
                 <p ng-include="'./templates/partial/login.html'"></p>
             </div>
             <div class ="register" >
                 <p ng-include="'./templates/partial/register.html'"></p>
             </div>

        </div>
    </div>