<header header-directive=""></header>


<main>
    <div class ="page-header">
        <p><h1>Change password</h1></p>
    </div>
    <div  id =  "passwordChangeBox"   >
        <form class="form-horizontal" id="passwordChange" name="passwordChange"  ng-submit="editPassword()">

            <div class="box">
                <label for="oldPassword"  class = "r_label" >Old password</label>
                <input type="password"  id="oldPassword" ng-model="passwordUpdate.oldPassword"
                           ng-minlength="6" ng-maxlength="100" placeholder="Old password" required>

            </div>
            <div class="box">
                <label for="newPassword" class = "r_label" >  New password</label>
                <input type="password"  id="newPassword"   ng-model="passwordUpdate.newPassword"
                            ng-minlength="6" ng-maxlength="100" placeholder="New password" required>

            </div>
            <div class="box">
                <label for="confirmPassword"  class = "r_label">Confirm password</label>
                <input  type="password"   id="confirmPassword" ng-model="passwordUpdate.confirmPassword"
                         ng-minlength="6" ng-maxlength="100" placeholder="Confirm password" compare-to="passwordUpdate.newPassword" required>
            </div>

             <div class="box">
                    <button type="submit"  ng-disabled="passwordChange.$invalid">Save Changes</button>
              </div>


        </form>
    </div >
</main>
