<header ng-if="isLogged()" header-directive=""></header>

<main>
    <div ng-if="!isLogged()">
        <div >
            <div class = "authHeader">
                <h1> Welcome</h1>
            </div>
            <div class="login">
                <p ng-include="'./templates/partial/login.html'"></p>
            </div>
            <div class ="register" >
                <p ng-include="'./templates/partial/register.html'"></p>
            </div>
        </div>
    </div>


    <div ng-if="isLogged()">
        <div >
            <p> News Feed</p>
        </div>
         <div>
            <div >
                <div class="form-group col-md-9">
                    <div ng-include="'templates/partial/wall-posts.html'"  >
                        <!-- infinite-scroll='loadNewsFeed()' infinite-scroll-disabled='wallBusy' infinite-scroll-distance="0" >-->>

                    </div>
                </div>
                <div ng-include="'templates/partial/friends-preview.html'"> <!--ng-init="getOwnFriendsListPreview()" -->>
                </div>
            </div>
        </div>
    </div>
</main>
