<header ng-if="isLogged()" header-directive=""></header>

<main>
    <div ng-if="!isLogged()">
        <div>
            <div class="authHeader">
                <h1> Welcome</h1>
            </div>
            <div class="login">
                <p ng-include="'./templates/partial/login.html'"></p>
            </div>
            <div class="register">
                <p ng-include="'./templates/partial/register.html'"></p>
            </div>
        </div>
    </div>


    <div ng-if="isLogged()">
        <div>
            <h1> News Feed</h1>
        </div>


        <table>
            <tr>
                <td>
                    <div ng-controller="ProfileController" ng-include="'templates/partial/wall-posts.html'" ng-init="getCurrentUserFeed()">    </div>
                </td>
                <td>
                    <div ng-controller="FriendController"  ng-include="'templates/partial/friends-preview.html'" ng-init="getCurrentUserFriendsListPreview()" >  </div>
                </td>
            </tr>
        </table>
    </div>

</main>
