<header header-directive=""></header>
<main friend-controller-directive ng-init="getOtherUser()">
    <div>
        <div ng-style="{'background-image':'url(' + (otherUser.coverImageData ) +')'}"
             ng-include="'templates/partial/other-user.html'">
        </div>
        <div>
            <table>
                <tr>
                    <td>
                        <div ng-controller="ProfileController" ng-include="'templates/partial/wall-posts.html'"
                             ng-init="getOtherUserFeed()"></div>
                    </td>
                    <td>
                        <div>
                            <div ng-include="'templates/partial/new-post.html'"></div>
                            <div ng-controller="FriendController" ng-init="getOtherUserFriendsListPreview()"
                                 ng-include="'templates/partial/friends-preview.html'"></div>

                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</main>



