html, body {
	border: 0;
	border: none;
	margin: 0 auto;
	padding: 0;
	display: block;
}

body {
	font: 12px/1.25 Arial, Helvetica, sans-serif;
	color: #000000;
	background-color: rgba(249, 249, 249, 0.38);

}
#wrapper {
	width: 100%;
	font-size: 1.1rem;

}
#content {
	width: 80%;
}

footer,.authHeader {
	padding: 0.5rem;
	text-align: center;
	margin: 0px 0px 0px;
	overflow: hidden;
	width: 100%;
	background: none repeat scroll 0% 0% rgba(200, 200, 200, 0.36);
	height: auto;
}

footer {
	display:block;
	position: absolute;
	bottom: 0;
	width: 100%;

}
.authHeader{
	position: relative;
	z-index: 10000;

}

#authentication, .login,.register {
    display:inline-block;
	vertical-align:baseline;
	border: 1px solid #9a9a9a;
	border-radius: 4px;

}
#authentication {
	position:relative;
	width:80%;
	margin-top: 5%;
	margin-left: 5%;
	border:none;

}
 .login,.register {
	     border: solid;
	 	 border-width: thin;
	 	 height:60%;
		 margin-top:5%;
	 	 margin-bottom: 5%;
		 margin-left: 5%;
		 background: none repeat scroll 0% 0% rgba(155, 155, 155, 0.7);
	 	 line-height:1.5rem;}

.register .r_label {
	width: 40%;
	float: left;
	margin-right: 0.5em;
}
.login{
	width:30%;
}
 .register {
	 width:50%;
 }


.box {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

header .navbar {
	margin: 0 auto;
	border: none;
	background: rgba(200, 200, 200, 0.36);;
	width:100%;
}
header .navbar li {
	margin: 0 2px;
}


#passwordChangeBox{
	position:relative;
	width:50%;
	margin-top: 5%;
	margin-left: 25%;
	border:solid;
	border-width: thin;
	font-size: 1.3rem;
	line-height:1.5rem;



}
#passwordChangeBox div {
	margin-top: 2rem;
	margin-bottom: 2rem;

}



.even_row {
	background: red;
}