<div class ="box">
    <form>
        <div>
            <label ><br> </label>
        </div>
        <div>
            <label for="username" >Username:</label>
        </div>
        <div>
            <input type="text" id="username"  ng-model="user.username" required>
        </div>
        <div>
            <label for="password" >Password:</label>
        </div>
        <div>
            <input type="password" id="password"   ng-model="user.password" required>
        </div>
        <div>
            <label ><br> </label>
        </div>
        <div>
            <button class="button" ng-click="login(user)">Login</button>
        </div>

    </form>
 </div>