<nav class="navbar navbar-inverse  navbar-fixed-top" >
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">User info here</a>

        </div>

        <div>
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="#/"><span class="glyphicon glyphicon-home"></span></a>
                </li>

                <li class="dropdown" ng-controller="HomeController" ng-init="getReceivedRequests()">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" class="glyphicon glyphicon-user">  {{pendingRequests.length}}
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">

                        <li ng-mouseenter="showRequestFlag=true" ng-mouseleave="showRequestFlag=false">
                            <a href="#/friends/requests/">
                                <span class="glyphicon glyphicon-user"></span>
                                <span ng-if="pendingRequests.length > 0" class="badge">{{pendingRequests.length}}</span>
                            </a>
                            <div id="friend-requests-box" ng-if="showRequestFlag && pendingRequests.length > 0" class="list-group">
                                <div ng-repeat="request in pendingRequests" class="list-group-item">
                                    <a href="#/user/{{request.user.username}}/wall/">
                                        <img ng-src="{{request.user.profileImageData}}" err-src="{{defaultImage}}" alt="profile picture" style="width: 50px; height: 50px"/>
                                        <span class="name"  style="color:black">{{request.user.name}}</span>
                                    </a>
                                    <button ng-click="acceptFriendRequest(request)" class="btn btn-success btn-sm">accept</button>
                                    <button ng-click="rejectFriendRequest(request)" class="btn btn-danger btn-sm">reject</button>
                                </div>
                            </div>
                        </li>



                    </ul>
                </li>
                <li><a href="#/editProfile"><span class="glyphicon glyphicon-pencil"></span></a></li>
                <li><a href="#/changePassword"><span class="glyphicon glyphicon-lock"></span></a></li>
                <li  ng-controller="LoginRegisterController" id="logout" ><a ng-click="logout()"><span class="glyphicon glyphicon-log-out"></a></li>
            </ul>
        </div>

    </div>
</nav>





